<ion-content [fullscreen]="true" class="login-content">
  <div class="container">
    <img src="assets/icon/logo.png" alt="Logo TCC" id="logo" />
    <h2>Gym Warriors</h2>

    <div class="form-box">
      <h3>Login</h3>

      <ion-input
        [(ngModel)]="email"
        type="email"
        placeholder="Email"
        required
      ></ion-input>

      <ion-input
        [(ngModel)]="senha"
        type="password"
        placeholder="Senha"
        required
      ></ion-input>

      <ion-button expand="block" (click)="login()">Entrar</ion-button>

      <span (click)="recuperarSenha()" style="color: #00aea8; text-decoration: none;">
        Esqueci minha senha
      </span>

      <p id="msgLogin" [ngStyle]="{ color: msgColor }">{{ msgLogin }}</p>
    </div>

    <p>
      Você não tem uma conta?
      <a routerLink="/cadastro" style="color: #00aea8; text-decoration: none;">Cadastre-se</a> aqui
    </p>
  </div>
</ion-content>
